In [39]:
import json
import boto3
import io
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
import threading

In [40]:
print('connection is start now')
# conn_string = 'postgres://postgres:pass@127.0.0.1/tawny1'
conn_string = 'postgresql://kapilsea:kapilsea@localhost/tawny1'

# engine = create_engine('postgresql://user@localhost:5432/mydb')
  
db = create_engine(conn_string)
conn = db.connect()

connection = psycopg2.connect(
    user = "kapilsea",
    password = "kapilsea",
    host = "localhost",
    database = "tawny1",
    port = "5432")

print(connection)

connection is start now
<connection object at 0x7f03ad13aa40; dsn: 'user=kapilsea password=xxx dbname=tawny1 host=localhost port=5432', closed: 0>

In [41]:
bucket_name = 'kp-s3-redshift'
tablename = 'sea'

# Get file from PgAdmin

In [42]:
querry = f"select * from {tablename}"

cursor = connection.cursor()

cursor.execute(querry)

first = cursor.fetchall()
# print(type(first))

connection.commit()

one = pd.DataFrame(first, columns=("test", "test", "test", "test", "test","test"))
# print(type(one))
# print(type(df))
one

        test              test        test            test      test      test
0  90386cx8d  GFU1JN14 Arurora  floodlight  stickup_case01  08/01/22  08/01/23
1  54e01989d  G9E1A814 Arurora      lpd_v4  stickup_case02  09/01/22  09/01/23
2  90486ca7d  G9E15G07 Arurora   cocoa_can  stickup_case03  10/01/22  10/01/23

# Put into S3 Bucket

In [43]:
one.to_csv(f"s3://{bucket_name}/df_new.csv",
          storage_options={'key': 'AKIAXSNKFPTCZS6WZUX4',
                           'secret': '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'})


print("Dataframe is saved as CSV in S3 bucket.")

Dataframe is saved as CSV in S3 bucket.

# Get file from S3 Bucket

In [44]:
s3_client = boto3.client('s3',aws_access_key_id="AKIAXSNKFPTCZS6WZUX4",aws_secret_access_key="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")

bucket_name = 'kp-s3-redshift'
file_name = 'ravine_uk_insert_1.csv'

s3_object = s3_client.get_object(Bucket = bucket_name, Key = file_name)
body = s3_object['Body']
text_file = body.read().decode("utf-8")

text_file
data = io.StringIO(text_file)
df = pd.read_csv(data, sep=",")
df
print(type(df))

# querry = f'''copy {tablename}
#          from {text_file}
#          WITH DELIMITER ',' 
#          CSV HEADER;'''

<class 'pandas.core.frame.DataFrame'>

In [45]:
df

,mac_address,DSN,project_name,device_name,project_start_date,project_end_date
0,90386cx8d,GFU1JN14 Arurora,floodlight,stickup_case01,08/01/22,08/01/23
1,54e01989d,G9E1A814 Arurora,lpd_v4,stickup_case02,09/01/22,09/01/23
2,90486ca7d,G9E15G07 Arurora,cocoa_can,stickup_case03,10/01/22,10/01/23

# Work with Real Data

In [46]:
def function_1():
    tablename1 = 'first'
    
    querry = f"select * from {tablename1} limit 1000000"

    cursor = connection.cursor()
    cursor.execute(querry)
    data = cursor.fetchall()
    # print(type(first))

    connection.commit()
    all_data = pd.DataFrame(data, columns=("object_id", "mjd", "passband", "flux", "flux_err","detected"))
    print(all_data.shape)
    
    all_data.to_csv(f"s3://{bucket_name}/first.csv",
          storage_options={'key': 'AKIAXSNKFPTCZS6WZUX4',
                           'secret': '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'})

    print("Dataframe is saved as First CSV in S3 bucket.")

In [47]:
def function_2():
    tablename2 = 'second'
    
    querry = f"select * from {tablename2} limit 1000000"

    cursor = connection.cursor()
    cursor.execute(querry)
    data = cursor.fetchall()
    # print(type(first))

    connection.commit()
    all_data = pd.DataFrame(data, columns=("object_id", "mjd", "passband", "flux", "flux_err","detected"))
    print(all_data.shape)
    
    all_data.to_csv(f"s3://{bucket_name}/second.csv",
          storage_options={'key': 'AKIAXSNKFPTCZS6WZUX4',
                           'secret': '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'})

    print("Dataframe is saved as Second CSV in S3 bucket.")

In [48]:
def function_3():
    tablename3 = 'third'
    
    querry = f"select * from {tablename3} limit 1000000"

    cursor = connection.cursor()
    cursor.execute(querry)
    data = cursor.fetchall()
    # print(type(first))

    connection.commit()
    all_data = pd.DataFrame(data, columns=("object_id", "mjd", "passband", "flux", "flux_err","detected"))
    print(all_data.shape)
    
    all_data.to_csv(f"s3://{bucket_name}/third.csv",
          storage_options={'key': 'AKIAXSNKFPTCZS6WZUX4',
                           'secret': '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'})

    print("Dataframe is saved as Third CSV in S3 bucket.")

In [49]:
def function_4():
    tablename4 = 'fourth'
    
    querry = f"select * from {tablename4} limit 1000000"

    cursor = connection.cursor()
    cursor.execute(querry)
    data = cursor.fetchall()
    # print(type(first))

    connection.commit()
    all_data = pd.DataFrame(data, columns=("object_id", "mjd", "passband", "flux", "flux_err","detected"))
    print(all_data.shape)
    
    all_data.to_csv(f"s3://{bucket_name}/fourth.csv",
          storage_options={'key': 'AKIAXSNKFPTCZS6WZUX4',
                           'secret': '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'})

    print("Dataframe is saved as Fourth CSV in S3 bucket.")

In [50]:
# Create a new thread
Thread1 = threading.Thread(target=function_1)

# Create another new thread
Thread2 = threading.Thread(target=function_2)

Thread3 = threading.Thread(target=function_3)

Thread4 = threading.Thread(target=function_4)

# Start the thread
Thread1.start()
Thread2.start()
Thread3.start()
Thread4.start()

# Wait for the threads to finish
Thread1.join()
Thread2.join()
Thread3.join()
Thread4.join()

print("Done!")

(1000000, 6)
(1000000, 6)
(1000000, 6)
(1000000, 6)

Future exception was never retrieved
future: <Future finished exception=ClientOSError(32, 'Broken pipe')>
aiohttp.client_exceptions.ClientOSError: [Errno 32] Broken pipe

Dataframe is saved as CSV in S3 bucket.
Dataframe is saved as CSV in S3 bucket.
Dataframe is saved as CSV in S3 bucket.
Dataframe is saved as CSV in S3 bucket.
Done!

In [51]:
cursor.close()
connection.close()
print("Connection is Closed")

Connection is Closed